.wrapper {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px 8px 8px 12px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .4), 0 1px 1px rgba(0, 0, 0, .2);
  cursor: pointer;
}

.shadow {
  right: 8px;
  border-radius: 8px;
  position: absolute;
  z-index: 0;
}

.title {
  font-weight: 400;
  margin: 0;
}

.content {
  margin-top: 4px;
}
