.wrapper {
  display: flex;
  justify-content: center;
  height: 28px;
  line-height: 28px;
  background-color: var(--secondary-color);

  a {
    display: block;
    height: 100%;
    font-size: 14px;
    color: var(--main-dark-color);
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 8px;
    transition: color .4s, background-color .4s;

    &:hover {
      color: var(--main-white-color);
      background-color: var(--main-dark-color);
    }
  }
}
