.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #026AA7;
  padding: 120px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  user-select: none;
}

